.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 800px; /* Adjusted for smaller size */
}

.carousel {
  position: relative;
  width: 300px; /* Smaller size to fit beside text */
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin-left: 100px;
  margin-top: 70px;
}

.carousel.no-transition {
  transition: none;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}



